ipykernel
streamlit
uvicorn
python-dotenv
pydantic
httpx
requests
fastapi
langgraph
langchain
langchain-community
langchain-experimental
langchain-groq
langchain-google-community
langchain-tavily
setuptools

-e .